{% extends 'base.html.twig' %}

{% block title %}Mail de modification envoyé{% endblock %}

{% block body %}
    <section class="section">
        <div class="container position-relative">
            <div class="container position-absolute top-0 start-50">
                <div class="row">
                    <div class="col-lg-6">

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Mail envoyé</h5>
                                <p>Veuillez vérifier votre adresse mail et cliquer sur le lien qui vous y a été envoyé pour pouvoir modifier votre mot de passe.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
